{{#each posts as |post|}}
<div>
    <header>{{post.title}}</header>
    <p>{{formatDate post.date_created}}</p>
</div>
{{/each}}
<button id="new-post-button">+ New Post</button>

<div id="#post-editor">
    <h2 id="#editor-title">Create New Post</h2>
    <form id="#editor-form">
        <label for="#post-title">Title</label>
        <input type="text" id="#post-title" />
        <label for="#post-content">Content</label>
        <input type="text" id="#post-content" />
        <button type="submit">Create Post</button>
        <button id="delete-button" style="display: none">Delete Post</button>
    </form>
</div>